@using WebSiteBanHang.Models;
@model DonDatHang

@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Thông tin đơn hàng <font color="#f65e84">@Model.KhachHang.TenKH</font></h2>
<br />
<br />

@using (Html.BeginForm())
{
    <div class="ChiTietDonHang table">
        @{IEnumerable<ChiTietDonDatHang> lstChiTietDH = (IEnumerable<ChiTietDonDatHang>)ViewBag.ListChiTietDH;}
        <table class="table" id="table">
            @*Phần thông tin đơn hàng*@
            <tr>
                <td  style="font-size: 16px; font-family: Arial" colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mã đơn hàng:<br /> <b style="color:red;"> @Model.MaDDH @Html.Hidden("MaDDH", @Model.MaDDH)</b></td>
                            <td>Mã KH: <br /><b style="color:red;"> @Model.KhachHang.MaKH</b></td>
                            <td>Tên Khách Hàng: <br/><b style="color:red;"> @Model.KhachHang.TenKH</b></td>
                            <td>Ngày đặt: @Model.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                            <td>Đã thanh toán: @Html.EditorFor(model => model.DaThanhToan)</td>
                            <td>Đã giao: @Html.EditorFor(model => model.TinhTrangGiaoHang)</td>
                            <td>Đã hủy: @Html.EditorFor(model => model.DaHuy)</td>
                        </tr>
                    </table>

                </td>
            </tr>



            @*Thông tin chi tiết đơn hàng*@


            <tr>
                <td style="font-size: 18px; font-family: Arial"><b>Sản phẩm</b></td>
                <td style="font-size: 18px; font-family: Arial"><b>Hình ảnh</b></td>
                <td style="font-size: 18px; font-family: Arial"><b>Số lượng đặt</b></td>
                <td style="font-size: 18px; font-family: Arial"><b>Đơn giá đặt</b></td>
            </tr>

            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td style="font-size: 18px; font-family: Arial">@item.SanPham.TenSP</td>
                    <td style="font-size: 18px; font-family: Arial"><img width="150" height="180" src="@Url.Content("~/Content/HinhAnhSP/"+item.SanPham.HinhAnh)" /></td>
                    <td style="font-size: 18px; font-family: Arial">@item.SoLuong</td>
                    <td style="font-size: 18px; font-family: Arial">@item.DonGia</td>
                </tr>
            }
            <tr>
                <td  style="font-size: 18px; font-family: Arial" align="right" colspan="4">Tổng số lượng: @Model.ChiTietDonDatHangs.Sum(n => n.SoLuong) sản phẩm</td>
            </tr>
            <tr>
                <td  style="font-size: 18px; font-family: Arial" align="right" colspan="4">Tổng tiền: @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") đồng</td>
            </tr>
        </table>
        <br /><br />
        <p id="tbb" style="color: Highlight; font-size: 25px; position: relative; top: -30px;">@ViewBag.TBB</p>
        <input style="font-size: 20px" class="btn btn-primary" type="button" value="In đơn hàng" id="btnInDonHang" />
        <input style="font-size: 20px"  class="btn btn-primary" type="submit" value="Lưu đơn hàng" id="btnInDonHang" />
    </div>
}

<script>

    $("#btnInDonHang").click(function () {
        var content = "<table>"+ $("#table").html() +"</table>";
        InDonHang(content);
        
    });

    //Phương thức in
    function InDonHang(content)
    {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();

    }

</script>